<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CRUD webapp</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="container special">
    <div class="py-5 text-center">
        <img class="d-inline-flex mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <img class="d-inline-flex mx-auto mb-4" src="/img/java.svg" alt="" width="72" height="72">
        <img class="d-inline-flex mx-auto mb-4" src="/img/springio.svg" alt="" width="72" height="72">
        <img class="d-inline-flex mx-auto mb-4" src="/img/postgresql.svg" alt="" width="72" height="72">
        <img class="d-inline-flex mx-auto mb-4" src="/img/thymeleaf.png" alt="" width="72" height="72">
        <h2>A complete running Form</h2>
        <hr class="mb-4">
        <p class="lead">
            A project developed to train SpringBoot, Thymeleaf..<br>
            Resources used:<br>
            <a href="https://www.youtube.com/watch?v=vtPkZShrvXQ&t=3252s" target="_blank">FreecodeCamp AmigosCode lesson</a><br>
            <a href="https://www.youtube.com/watch?v=Y_w9KjOrEXk&list=LL&index=19" target="_blank">Java Techie tutorial</a><br>
            and many many others that i googled on the road..
        </p>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <h5 class="mb-3">A CREATE operation</h5>
            <form id="personForm">
                <div class="mb-3">
                    <label for="personName">Register a NAME</label>
                    <input type="text" class="form-control" id="personName" placeholder="un bel nome" required>
                </div>
                <button class="btn btn-primary btn-md btn-block" type="submit">Insert to DB</button>
            </form>
            <hr class="mb-4">

            <h5 class="mb-3">A menu with Get/Put/Delete</h5>
            <form id="multiForm">
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="inlineFormCustomSelect">Operation</label>
                        <select class="custom-select d-block w-100" id="inlineFormCustomSelect">
                            <option value="1">Get Name by ID</option>
                            <option value="2">Update Name on existent ID</option>
                            <option value="3">Delete Person by ID</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="personId">ID reference</label>
                        <input type="text" class="form-control" id="personId" placeholder="" value="" required>
                    </div>
                    <div class="col-md-6 mb-3" id="updateDiv">
                        <label for="personNameToUpdate">Name to assign</label>
                        <input type="text" class="form-control" id="personNameToUpdate" placeholder="" value="">
                    </div>
                </div>
                <button class="btn btn-primary btn-md btn-block" type="submit">Run Operation</button>
            </form>

            <hr class="mb-4">

            <h5 class="mb-3">And finally..</h5>
            <button id="getAllPersons" class="btn btn-primary btn-lg btn-block" type="submit">Get All Persons</button>
            <div class="mb-3" id="getResultDiv" style="padding-top: 20px">
                <ul class="list-group">
                </ul>
            </div>
        </div>
    </div>

</div>
<footer>
    <section>
        <ul class="special">
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i>
            </a></li>
            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i>
            </a></li>
            <li><a href="#"><i class="fa fa-free-code-camp" aria-hidden="true"></i>
            </a></li>
            <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i>
            </a></li>
            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i>
            </a></li>
        </ul>

        <div class="footer-details">
            <ul class="list-inline text-center">
                <li class="list-inline-item"><a href="#">&copy; 2021 CompanyName</a></li>
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </div>
    </section>
</footer>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
<script>
    $(document).ready(function(){
        $("#updateDiv").hide();
    })

    (hideShowDiv());

    function hideShowDiv() {
        $("#inlineFormCustomSelect").change(function () {
            var val = $(this).val();
            if (val === "1" || val === "3") {
                $("#updateDiv").hide();
            } else if (val === "2") {
                $("#updateDiv").show();
            }
        });
    }
</script>
<script src="/js/getrequest.js"></script>
<script src="/js/postrequest.js"></script>
<script src="/js/requestonid.js"></script>
</body>
</html>
